<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%=title %></h1>
        <form action="./test.html" method="get">
            name: <input type="text" name="name"><br>
            <input type="submit" value="Submit">
        </form>

        <table border="1">
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].inst %></td>
                <td><%= data[i].cname %></td>
                <td><%= data[i].point %></td>
                <td><%= data[i].time %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>


